certifi
cffi
chardet
Click
cmake
dj-database-url
Django
django-crispy-forms
django-debug-toolbar
django-markdown-deux
django-markdown2
django-model-utils
django-notifications-hq
django-pagedown
djangorestframework
dlib
face-recognition
face-recognition-models
Faker
future
gunicorn
idna
jsonfield
Markdown
markdown2
mathparse
nltk
numpy
oauthlib
opencv-python
Pillow
psycopg2
psycopg2-binary
pycparser
pymongo
python-dateutil
python-twitter
pytz
PyYAML
requests
requests-oauthlib
singledispatch
six
SQLAlchemy
sqlparse
text-unidecode
urllib3
whitenoise
